body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: #000000;
}

#website-title {
    margin: 0 auto;
}

#camera-icon {
    float: right;
}

#about {
    color: #ffffff;
    background-color: #000000;
    padding: 15px;
}

#about p {
    margin: 0 auto;
    text-align: center;
}

main {
    width: 95%;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

#photo {
    display: block;
}

#photo img {
    display: inline;
    width: 100px;
    height: 70px;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
}
  
#photo img:hover {
      opacity: 0.8;
}

footer {
    text-align: center;
    padding: 10px;
}

footer span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    color: #6e6e6e;
    padding: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000000;
    padding: 25px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: 0 auto;
    display: block;
    max-width: 90%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    transition: 0.3s;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
    padding: 10px 0 30px 0;
}

@media only screen and (min-width: 768px) {
    #photo img {
        width: 200px;
        height: 135px;
    }
}